@charset "UTF-8";

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.login{
	position: relative;
}
.login--card{
	display: none;
	position: absolute;
	left: -130px;
	color:black;
	border: 1px solid red;
	z-index:999;
}
.show {
	display: block;
}
.menu-item i{
	font-size: 1.1rem;
}
